<footer class="footer">
  <div class="footer-container container">
    <div class="footer-svg-menu-adress">
      <div class="footer-list-text">
        <a href="" class="footer-svg-list">
          <svg class="footer-svg" width="168" height="16">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="footer-menu-adress">
        <nav class="footer-menu-div-one">
          <ul class="footer-menu-list">
            <li class="footer-menu-list-item">
              <a class="footer-link-link" href="#works">How It Works</a>
            </li>
            <li class="footer-menu-list-item">
              <a class="footer-link-link" href="#vegetables">Vegetables</a>
            </li>
            <li class="footer-menu-list-item">
              <a class="footer-link-link" href="#works">Reviews</a>
            </li>
          </ul>
        </nav>

        <div class="footer-div-adress">
          <address class="footer-adress">
            <a class="footer-tel" href="+380684439426">+380 (68) 443-94-26</a>

            <a
              class="footer-tel-adress"
              href="https://www.google.com/maps?q=1678+S.+Pioneer+Road+Salt+Lake+City+UT+84104"
              target="_blank"
            >
              1678 S. Pioneer Road Salt Lake City UT 84104
            </a>
          </address>
        </div>
      </div>
    </div>
    <div class="footer-policy-harvest">
      <div class="footer-div-policy">
        <a class="footer-list-item-privacy" href="">Privacy Policy</a>
        <span class="footer-slash">/</span>
        <a class="footer-list-item-privacy" href="">Cookie settings</a>
      </div>
      <div class="footer-list-item-harvest">
        <p class="">©Green Harvest 2023</p>
      </div>
    </div>
  </div>
</footer>
