<footer class="footer footer-container container">
  <div class="footer-svg-menu-adress">
    <div class="footer-list-text">
      <a href="" class="footer-svg-list">
        <svg href="" class="footer-svg" width="168" height="16">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>

    <div class="footer-menu-adress">
      <div class="footer-menu-div-one">
        <ul class="footer-menu-list">
          <li class="footer-menu-list-item">
            <a href="#works">How It Works</a>
          </li>
          <li class="footer-menu-list-item">
            <a href="#vegetables">Vegetables</a>
          </li>
          <li class="footer-menu-list-item">
            <a href="#works">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-div-adress">
        <adress class="footer-adress">
          <a class="footer-tel" href="+380684439426">+380 (68) 443-94-26</a>

          <p class="footer-tel-adress">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </adress>
      </div>
    </div>
  </div>
  <div class="footer-policy-harvest">
    <div class="footer-div-policy">
      <p class="footer-list-item-privacy">Privacy Policy</p>
      <p class="footer-list-item-privacy">/</p>
      <p class="footer-list-item-privacy">Cookie settings</p>
    </div>
    <div>
      <p class="footer-list-item-harvest">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
