<div class="mobile-menu is-open" data-menu>
  <div class="container mobile-menu-container">
    <button class="button btn-mobile-menu-close" type="button" data-menu-close>
      <svg class="close-icon" width="20" height="20">
        <use href="/project-BestDreamEver/src/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-item">
        <div class="item-link">
          <a class="menu-link" href="">How it works</a>
        </div>
      </li>
      <li class="menu-item">
        <div class="item-link">
          <a class="menu-link" href="">Vegetables</a>
        </div>
      </li>
      <li class="menu-item">
        <div class="item-link">
          <a class="menu-link" href="">Reviews</a>
        </div>
      </li>
    </ul>
    <button class="button order-btn" type="button">Shop now</button>
  </div>
</div>
