<div class="backdrop is-open" data-menu>
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <button
        class="button btn-mobile-menu-close"
        type="button"
        data-menu-close
      >
        <svg class="close-icon" width="20" height="20">
          <use
            href="/project-BestDreamEver/assets/sprite-Cq4yTKCi.svg#icon-close"
          ></use>
        </svg>
      </button>
      <ul class="menu-list">
        <li class="menu-item">
          <div class="item-link">
            <a class="menu-link" href="#howitworks">How it works</a>
          </div>
        </li>
        <li class="menu-item">
          <div class="item-link">
            <a class="menu-link" href="#vegetables">Vegetables</a>
          </div>
        </li>
        <li class="menu-item">
          <div class="item-link">
            <a class="menu-link" href="#reviews">Reviews</a>
          </div>
        </li>
      </ul>
      <button class="button order-btn" type="button">Shop now</button>
    </div>
  </div>
</div>
