<section class="reviews-section" id="reviews">
  <div class="container container-reviews">
    <div class="reviews-title-wrapper">
      <h1 class="reviews-title">
        reviews from our <span class="reviews-title-span">customers</span>
      </h1>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <div class="list">
      >
        <li class="list-people-john">
          <img
            class="reviews-item-icon"
            srcset="
              ../img/reviews/john-min.jpg    1x,
              ../img/reviews/john@2x-min.jpg 2x
            "
            src="../img/reviews/john-min.jpg"
            alt="John Wax"
            width="56"
            height="56"
          />
          <h2 class="reviews-item-title">John Wax</h2>
          <p class="reviews-item-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>
        <li class="list-people-vika">
          <img
            class="reviews-item-icon"
            srcset="
              ../img/reviews/viktoria-min.jpg    1x,
              ../img/reviews/viktoria@2x-min.jpg 2x
            "
            src="../img/reviews/viktoria-min.jpg"
            alt="Victoria Romashenko"
            width="56"
            height="56"
          />
          <h2 class="reviews-item-title">Victoria Romashenko</h2>
          <p class="reviews-item-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </li>
        <li class="list-people-ihor">
          <img
            class="reviews-item-icon"
            srcset="
              ../img/reviews/ihor-min.jpg   1x,
              ../img/reviews/ihor2x-min.jpg 2x
            "
            src="../img/reviews/ihor-min.jpg"
            alt="Ihor Trachuk"
            width="56"
            height="56"
          />
          <h2 class="reviews-item-title">Ihor Trachuk</h2>
          <p class="reviews-item-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
