<section class="vegetables" id="vegetables">
  <div class="container">
    <div class="vegetables-info">
      <h2 class="vegetables-title">
        organic <span class="vegetables-color">vegetables</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-group">
      <li class="vegetables-list">
        <h3 class="vegetables-list-title">eggplant</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          srcset="
            /img/vegetables/image1-min.png    1x,
            /img/vegetables/image1@2x-min.png 2x
          "
          src="/img/vegetables/image1-min.png"
          alt="eggplant"
          width="280"
        />
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-list-title">leek</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          srcset="
            /img/vegetables/image2-min.png    1x,
            /img/vegetables/image2@2x-min.png 2x
          "
          src="/img/vegetables/image2-min.png"
          alt="leek"
          width="280"
        />
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-list-title">mushrooms</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          srcset="
            /img/vegetables/image3-min.png    1x,
            /img/vegetables/image3@2x-min.png 2x
          "
          src="/img/vegetables/image3-min.png"
          alt="mushrooms"
          width="280"
        />
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-list-title">corn</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          srcset="
            /img/vegetables/image4-min.png    1x,
            /img/vegetables/image4@2x-min.png 2x
          "
          src="/img/vegetables/image4-min.png"
          alt="corn"
          width="280"
        />
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-list-title">sweet potatoes</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          srcset="
            /img/vegetables/image5-min.png    1x,
            /img/vegetables/image5@2x-min.png 2x
          "
          src="/img/vegetables/image5-min.png"
          alt="potatoes"
          width="280"
        />
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-list-title">carrot</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          srcset="
            /img/vegetables/image6-min.png    1x,
            /img/vegetables/image6@2x-min.png 2x
          "
          src="/img/vegetables/image6-min.png"
          alt="carrot"
          width="280"
        />
      </li>
    </ul>
  </div>
</section>
