<section class="page-yourorder" class="container">
  <div class="yororder-text">
    <h2 class="yororder-title">
      FRESH <span style="color: #d4bfc4">HARVEST</span> BOX HAS GOT YOU COVERED
    </h2>

    <p class="yororder-p">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>

  <div class="yourorder-form">
    <form class="form">
      <h3 class="yororder-form-title">
        Ordering <span style="color: #7a3145">from us</span> is quick and easy!
        Fill out <span style="color: #576f35">the form</span> below and we will
        contact you !
      </h3>

      <label class="form-label" for="fullname">
        <input
          class="form-input"
          type="text"
          name="fullname"
          placeholder="Full Name"
        />
      </label>
      <label class="form-label" for="email">
        <input
          class="form-input"
          type="text"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="form-textarea" for="comment">
        <textarea
          class="form-input"
          name="comment"
          placeholder="Comment"
          rows="5"
        ></textarea>
      </label>
      <button type="button">SEND</button>
    </form>
    <div class="yororder-img">
      <img
        src="/src/img/yourorder/yourorder.jpg"
        width="428"
        height="352"
        Radius="15"
        alt="дівчинат робить смузі"
      />
      <p class="yourorder-social">Follow us on our social networks:</p>
      <ul>
        <li class="social-links">
          <a href="https://www.instagram.com/goitclub/" target="_blank"
            >instagram</a
          >
        </li>
        <li class="social-links">
          <a href="https://www.facebook.com/goITclub/" target="_blank"
            >facebook</a
          >
        </li>
        <li class="social-links">
          <a href="https://www.youtube.com/c/GoIT/" target="_blank">youtube</a>
        </li>
      </ul>
    </div>
  </div>
</section>
