<section class="page-yourorder" >
  <div class="container yourorder-container">
<div class="yororder-text">
    <h2 class="yororder-title">
      FRESH <span style="color: #d4bfc4">HARVEST</span> BOX HAS GOT YOU COVERED
    </h2>

    <p class="yororder-p">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>

<div class="yororder-form-social">
  <div class="yourorder-form">
    <h3 class="yororder-form-title">
      Ordering <span style="color: #7a3145">from us</span> is quick and easy!
      Fill out <span style="color: #576f35">the form</span> below and we will
      contact you !
    </h3>
    <form class="form">
      <label class="form-label" for="fullname" >
        <input
          class="form-input"
          type="text"
          name="fullname"
          placeholder="Full Name"
          required
        />
      </label>
      <label class="form-label" for="email">
        <input
          class="form-input"
          type="text"
          name="email"
          placeholder="Email"
          required
        />
      </label>
      <label class="form-label" for="comment">
        <textarea
          class="form-textarea"
          name="comment"
          placeholder="Comment"
          rows="5"
          required
        ></textarea>
      </label>
      <button class="yororder-botton" type="button" >SEND</button>
      <span id="error-message" class="error-message"></span>
    </form>
  </div>

    <div class="yororder-img-social">

      <picture> 
        <source media="(min-width: 1280px)" srcset="
        /img/yourorder/yourorder-desktop.jpg 1x, /img/yourorder/yourorder-desktop@2x.jpg 2x" />
        <source media="(min-width: 768px)" srcset="
        /img/yourorder/yourorder-tablet.jpg 1x, /img/yourorder/yourorder-tablet@2x.jpg 2x" />        
        <source media="(max-width: 767px)" srcset="/img/yourorder/yourorder-mobile.jpg 1x, /img/yourorder/yourorder-mobile@2x.jpg 2x">
        <img      
      src="../img/yourorder/yourorder-tablet.jpg"
        alt="дівчинат робить смузі"
        class="yororder-img"
        width="536"
      />
    </picture>
    
      <p class="yourorder-social">Follow us on our social networks:</p>
      <ul>
        <li class="social-links">
          <a href="https://www.instagram.com/goitclub/" target="_blank"></a>
            instagram  / </a
          >
        </li>
        <li class="social-links">
          <a href="https://www.facebook.com/goITclub/" target="_blank">
            facebook  / </a
          >
        </li>
        <li class="social-links">
          <a href="https://www.youtube.com/c/GoIT/" target="_blank">
            youtube
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
</section>
