.advertisement {
  background: #fbfbfb;
}
.text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-left: 4px;
  margin-right: 4px;
}
.box {
  background-color: #576f35;
  display: inline-block;
  border-radius: 12px;
  position: relative;
  width: auto;
  height: auto;
}
.text-discount {
  color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .text {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-top: 20px;
    padding-bottom: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .text {
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 0px;
  }
}
