.advertisement {
  padding: 80px 20px;
  margin-top: 14px;
  background: #fbfbfb;
}
.text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding-left: 4px;
  padding-right: 4px;
}
.box {
  position: absolute;
  background-color: #576f35;
  border-radius: 12px;
  width: 335px;
  height: 103px;
}

.text-discount {
  color: #fbfbfb;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 32px;
  }
  .text {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .box {
    width: 675px;
    height: 86px;
    margin-right: 29px;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px 100px;
  }
  .text {
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 0px;
  }
  .box {
    width: 813px;
    height: 78px;
  }
}
