@media screen and (min-width: 1280px) {
  .page-hero {
    height: 796px;
    display: flex;
  }
}

.hero-container {
  background-color: #576f35;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 120px;
    padding-bottom: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-top: 232px;
    padding-bottom: 52px;
  }
}

.hero-container-info {
  max-width: 375px;
  margin: auto;
  padding: 0 20px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .hero-container-info {
    max-width: 704px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 640px;
    padding-left: 100px;
    margin: 0;
  }
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
@media screen and (max-width: 374px) {
  .hero-title {
    font-weight: 500;
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 704px;
    height: 228px;
    font-size: 76px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    width: 502px;
    height: 304px;
    font-size: 76px;
    margin-bottom: 0;
  }
}
.hero-text {
  height: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .hero-text {
    width: 603px;
    height: 60px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .hero-text {
    width: 470px;
    height: 80px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.hero-container-img {
  height: 372px;
  background-color: #576f35;
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(/img/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-resolution: 2x), (-webkit-device-pixel-ratio: 2x) {
  .hero-container-img {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-mobx.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero-container-img {
    height: 536px;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-tab.jpg);
  }
  @media screen and (min-resolution: 2x), (-webkit-device-pixel-ratio: 2x) {
    .hero-container-img {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/hero/hero-tab-x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-container-img {
    width: 50%;
    height: 100%;
    background-color: #576f35;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/image-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-resolution: 2x), (-webkit-device-pixel-ratio: 2x) {
    .hero-container-img {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/hero/hero-desx.jpg);
    }
  }
}
