.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: opacity 250ms ease-in-out,
    visibility 250ms ease-in-out;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms ease-in-out;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #576f35;
}

.mobile-menu-container {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 52px;
}

.btn-mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.close-icon {
    stroke-width: 3px;
    stroke: #fbfbfb;
}

.menu-list {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 24px;
}

.item-link {
    background-color: transparent;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    width: 118px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.item-link:hover,
.item-link:active {
    background-color: #fbfbfb;
}

.item-link:hover .menu-link,
.item-link:active .menu-link {
    color: #7a3145;
}

.menu-link {
    display: block;
    font-size: 14px;
    line-height: 1.42;
    text-align: center;
    color: #fbfbfb;
    width: 100%;
}

.order-btn {
    margin-top: auto;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 30px;
    width: 175px;
    height: 52px;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    outline: none;
}

.order-btn:hover,
.order-btn:active {
    background-color: #fbfbfb;
    color: #7a3145;
}

.order-btn:focus {
    outline: none;
}

@media screen and (min-width: 768px) {

    .backdrop.is-open .mobile-menu {
    transition: transform 250ms ease-in-out;
    }

    .backdrop:not(.is-open) .mobile-menu {
    transform: translateX(50%);
    transition: transform 250ms ease-in-out;
}

    .mobile-menu {
        right: 0;
        width: 351px;
    }
}

@media screen and (min-width: 1280px) {
    .backdrop {
        display: none;
    }
}