.page-yourorder {
  background-color: #576f35;
  padding: 80px 0;
}
.yourorder-container {
  display: flex;
  flex-direction: column;
}
.yororder-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -1.5%;

  color: #fbfbfb;
  margin-bottom: 24px;
}
.yororder-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fbfbfb;
}
.yororder-text {
  margin-bottom: 40px;
}

.yourorder-form {
  padding: 40px 20px;
  background: #fbfbfb;
  border-radius: 30px;
  margin-bottom: 20px;
}

.yororder-form-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  padding-bottom: 52px;
  text-transform: uppercase;
}
.form-label {
  display: block;
}
.form-input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  padding: 16px 14px;
  border: 1px solid #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 16px;
}
.form-textarea {
  width: 100%;
  height: 92px;
  border-radius: 15px;
  padding: 16px 14px;
  border: 1px solid #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 20px;
}
.yororder-botton {
  display: block;
  background: #7a3145;
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 30px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -1.5%;
  color: #fbfbfb;
}
.yororder-img-social {
  border-radius: 30px;
  padding: 40px 20px;
  background: #7a3145;
  color: #fbfbfb;
}
.yororder-img {
  border-radius: 15px;
  margin-bottom: 20px;
  max-width: 295px;
}
.yourorder-social {
  color: #d4bfc4;
  font-family: Inter Tight;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.social-links {
  display: inline;
  text-transform: uppercase;
  text-align: end;
  margin-bottom: 52px;
}
.social-links a {
  text-decoration: none;
  color: #fbfbfb; /* колір тексту */
}
.social-links a:not(:last-child)::after {
  content: ' / ';
  margin-right: 5px; /* Відступ між посиланнями */
  color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .page-yourorder {
    padding: 100px 0;
  }
  .yororder-text {
    margin-bottom: 52px;
  }
  .yourorder-form {
    padding: 100px 72px;
    margin-bottom: 32px;
  }
  .form-input {
    height: 52px;
    padding: 16px 15px;
  }
  .form-textarea {
    height: 96px;
    padding: 16px 15px;
    margin-bottom: 24px;
  }
  .yororder-img-social {
    padding: 52px;
  }
  .yourorder-img {
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1280px) {
  .yororder-text {
    max-width: 751px;
    margin-bottom: 40px;
  }
  .yororder-text {
    margin-bottom: 52px;
  }
  .yororder-form-social {
    display: flex;
    width: calc((100% - 32px) / 2);
  }
  .yourorder-form {
    margin-right: 32px;
    padding: 48px 52px;
  }
  .yourorder-img {
    margin-bottom: 80px;
  }
}
