.page-yourorder {
  background-color: #576f35;
  padding: 80px 0;
}
.yourorder-container {
  display: flex;
  flex-direction: column;
}
.yororder-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -1.5%;

  color: #fbfbfb;
  margin-bottom: 24px;
}
.yororder-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fbfbfb;
}
.yororder-text {
  gap: 24px;
  margin-bottom: 52px;
  max-width: 751px;
}
/* @media only screen and (min-width: 1280px) {
  .yourorder-form {
    display: flex;
    gap: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .yororder-img {
    max-width: 640px;
    max-height: 632px;
  }
  .form {
    max-width: 640px;
    max-height: 632px;
  }
} */
.yourorder-form {
  padding: 40px 20px;
  background: #fbfbfb;
  border-radius: 30px;
}

.yororder-form-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  padding-bottom: 52px;
  text-transform: uppercase;
}
.form-label {
  display: block;
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  padding: 16px 14px;
  border: 1px solid #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}
.form-textarea {
  width: 100%;
  height: 92px;
  border-radius: 30px;
  padding: 16px 14px;
  border: 1px solid #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}
.yororder-botton {
  display: block;
  background: #7a3145;
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 30px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -1.5%;
  color: #fbfbfb;
}
.yororder-img-social {
  border-radius: 30px;
  padding: 40px 20px;
  background: #7a3145;
  color: #fbfbfb;
}
.yororder-img {
  radius: 15px;
  margin-bottom: 20px;
  background: #7a3145;
}
.yourorder-social {
  color: #d4bfc4;
  font-family: Inter Tight;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.social-links {
  display: inline;
  text-transform: uppercase;
  text-align: end;
  margin-bottom: 52px;
}
.social-links a {
  text-decoration: none;
  color: #fbfbfb; /* колір тексту */
}
.social-links a:not(:last-child)::after {
  content: ' / ';
  margin-right: 5px; /* Відступ між посиланнями */
  color: #fbfbfb;
}
