.page-yourorder {
  background-color: #576f35;
  padding: 100px;
  text-align: center;
}
.yororder-title {
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -1.5%;

  color: #fbfbfb;
  margin-bottom: 24px;
}
.yororder-p {
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fbfbfb;
}
.yororder-text {
  gap: 24px;
  margin-bottom: 52px;
  max-width: 751px;
}
@media only screen and (min-width: 1280px) {
  .yourorder-form {
    display: flex;
    gap: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .yororder-img {
    max-width: 640px;
    max-height: 632px;
  }
  .form {
    max-width: 640px;
    max-height: 632px;
  }
}
.form {
  background: #fbfbfb;

  padding-top: 52px;
  padding-right: 48px;
  padding-bottom: 52px;
  padding-left: 48px;
  gap: 10px;
  border-radius: 30px;
  max-width: 524px;

  margin-bottom: 32px;
}
.yororder-form-title {
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5%;
  padding-bottom: 52px;
  text-transform: uppercase;
}
.form-label {
  display: flex;
  align-self: flex-start;
}
.form-input {
  width: 428px;
  gap: 10px;
  border-radius: 30px;
  padding: 16px;

  border-width: 1px;
  border: 1px solid #858585;
}
.form-label {
  margin-bottom: 16px;
}

button {
  background: #7a3145;
  width: 428;
  height: 52;
  gap: 10px;
  border: none;
  border-radius: 30px;
  padding-top: 16px;
  padding-right: 191px;
  padding-bottom: 16px;
  padding-left: 191px;
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1.5%;
  color: #fbfbfb;
  margin-top: 24px;
}
.yororder-img {
  gap: 80px;
  border-radius: 30px;
  padding-top: 52px;
  padding-right: 48px;
  padding-bottom: 80px;
  padding-left: 48px;
  background: #7a3145;
  color: #fbfbfb;
  max-width: 524px;

  text-align: start;
}
.yourorder-social {
  color: #d4bfc4;
  font-family: Inter Tight;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.social-links {
  display: inline;
  text-transform: uppercase;
  text-align: end;
  margin-bottom: 52px;
}
.social-links a {
  text-decoration: none;
  color: #fbfbfb; /* колір тексту */
}
.social-links a:not(:last-child)::after {
  content: ' / ';
  margin-right: 5px; /* Відступ між посиланнями */
  color: #fbfbfb;
}
